<div class="content">
    <div class="form">
        Log in
        <form action="http://localhost:8080/api/user/login" method="post">
            <input type="text" name="email" id="">
            <input type="password" name="password" id="">
            <input type="submit" value="Log in">
        </form>

        <a href="http://localhost:8080/api/user/register-github">Login with Github</a>
    </div>
</div>